.crew-page {
  display: grid;
  background-size: cover;
  background-position: center bottom;
}

.carousel-btns {
  display: flex;
  gap: 8px;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.crew-details-container {
  margin-top: 10px;
}

.carousel-btns > button {
  width: 0.6rem;
  height: 0.6rem;
  padding: 4px;
  display: grid;
  place-content: center;
  place-items: center;
  border-radius: 50%;
  background-color: hsl(var(--clr-white) / 0.3);
  transition: color 300ms ease-in-out;
  cursor: pointer;
  border: none;
}

.carousel-btns button:hover {
  background-color: hsl(var(--clr-white));
}

.carousel-btns > button.active-btn {
  background-color: hsl(var(--clr-white));
}

.crew-details-container {
  padding: 1rem;
}

.carousel-img {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  mask-image: linear-gradient(
    to bottom,
    rgba(44, 46, 173, 0.753) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.crew-content-wrapper {
  padding: 1rem 1rem 0px 1rem;
}

.crew-member-description {
  text-align: center;
}

.crew-role {
  text-align: center;
  margin-bottom: 1rem;
}

.crew-role span {
  color: hsl(var(--clr-white) / 0.3);
}

/* Mobile */

@media (max-width: 780px) {
  .crew-page {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
    display: grid;
    grid-template-rows: 0.25fr 2fr;
  }

  .crew-details-container {
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: 1fr 1fr; */
  }

  .crew-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
  }

  .crew-member-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 163px;
  }

  .carousel-img {
    margin-top: 4rem;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(
      to bottom,
      rgba(44, 46, 173, 0.753) 80%,
      rgba(0, 0, 0, 0.1) 100%
    );
    min-height: 350px;
    max-height: 350px;
    min-width: 20rem;
    max-width: 271px;
    border-radius: 1rem;
  }
}

@media (min-width: 48rem) {
  .crew-page {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  .crew-details-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 10% 90%;
    grid-row: 2/3;
    margin: 0 5rem;
    align-items: center;
  }

  .crew-details-container header {
    grid-column: 1/5;
    grid-row: 1;
  }

  .crew-content-wrapper {
    grid-column: 2/8;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .crew-member-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 163px;
  }

  .carousel-btns {
    margin-bottom: 2rem;
  }

  .carousel-img {
    min-height: 25rem;
    max-height: 25rem;
    min-width: 20rem;
    max-width: 20rem;
  }
}

@media (min-width: 80rem) {
  .crew-page {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-position: center;
    background-size: cover;
    grid-template-rows: 10% 90%;
    height: 100vh;
  }

  .crew-details-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 90%;
    place-items: center;
    grid-row: 2/3;
  }

  .crew-details-container header {
    grid-column: 2/4;
    grid-row: 1;
  }

  .crew-content-wrapper {
    position: relative;
    grid-column: 2/12;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    gap: 8rem;
    padding: 1rem;
  }

  .crew-role {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .crew-role span {
    margin-bottom: 0.5rem;
  }

  .crew-member-description {
    display: block;
    text-align: start;
  }

  .carousel-btns {
    position: absolute;
    bottom: 0;
  }

  .carousel-btns > button {
    width: 1rem;
    height: 1rem;
  }

  .carousel-img {
    min-height: 35rem;
    max-height: 35rem;
    min-width: 28rem;
    max-width: 28rem;
  }
}
