.destinations-page {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  background-size: cover;
  margin: 0 auto;
}

.destinations-page > div {
  grid-row: 2;
}

.destination-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 8px;
}

.destination-tabs > li > button {
  cursor: pointer;
  background: none;
  border: none;
  color: hsl(var(--clr-light));
}

.active-tab {
  border-bottom: 2px solid hsl(var(--clr-white));
}

.destination-details {
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

.destination-img {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destinations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.destination-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  border: 4px solid pink;
}

.divider-line {
  background-color: white;
  width: 100%;
  height: 1px;
  margin-top: 1rem;
}

/* Mobile */
@media (min-width: 23rem) {
  .destinations-page {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }

  .destination-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  .destination-img img {
    width: 150px;
    height: 150px;
  }

  .destination-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2px;
  }

  .planet-data {
    margin-top: 1.5rem;
  }

  .planet-data > div > h4 {
    color: hsl(var(--clr-light));
    text-align: center;
    margin-bottom: 0.4rem;
  }

  .destination-tabs > li > button {
    font-size: var(--fs-400);
  }
}

@media (min-width: 48rem) {
  .destinations-page {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    background-position: center;
    background-size: cover;
  }

  .destinations-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.5fr 5fr;
    /* place-items: center; */
  }

  .destination-img img {
    width: 300px;
    height: 300px;
    margin: 4rem;
  }

  .destinations-wrapper h1 {
    grid-row: 1;
    grid-column: 1/6;
    margin-left: 2rem;
  }

  .destination-content {
    grid-row: 2;
    grid-column: 2/ 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
  }

  .destination-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .planet-data {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 5rem;
  }
}

@media (min-width: 80rem) {
  .destinations-page {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }

  .destinations-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 1fr;
  }

  .destination-content {
    grid-row: 1/3;
    grid-column: 2/ 12;
    display: grid;
    grid-template-columns: minmax(30rem, 1fr) 2fr;
    place-content: center;
    place-items: center;
    max-height: 100vh;
  }

  .destination-img img {
    width: 30rem;
    height: 30rem;
  }

  .destination-info {
    margin: 0 8rem;
    padding: 4rem;
  }
}
