.home {
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100vh;
  display: grid;
  grid-template-rows: 12% 6fr;
}

.main-text > h1 > span {
  font-size: var(--fs-800);
  padding: var(--sp-400) 0;
}

.main-text p {
  line-height: 180%;
}

.main-text {
  text-align: center;
  margin: 0 var(--sp-1000);
}

.grid-container {
  display: grid;
}

/* Mobile */
@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 0.25fr) 2fr;
  }

  .main-text {
    text-align: center;
  }

  .home > :last-child {
    place-content: center;
    place-items: center;
    margin: 0 var(--sp-600);
  }

  .grid-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .grid-container > *:first-child {
    grid-row: 1;
    grid-column: 3;
  }

  .grid-container > *:last-child {
    grid-column: 3;
    place-content: center;
  }
}

/* Tablet */

@media (min-width: 48rem) {
  .home {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-position: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    margin: 0 auto;
    row-gap: var(--sp-600);
  }

  .grid-container > *:first-child {
    grid-row: 1;
  }

  .grid-container > *:last-child {
    grid-row: 2;
    place-items: center;
  }
}

/* Desktop */
@media (min-width: 90rem) {
  .home {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-position: center;
    grid-template-rows: 1fr 5fr;
  }

  .grid-container {
    display: grid;
    grid-template-columns:
      minmax(2rem, 1fr)
      repeat(2, minmax(0, 80rem))
      minmax(2rem, 1fr);
    column-gap: var(--container-gap, 2rem);
    row-gap: 0;
    grid-template-rows: 0.25fr 1fr;
    margin: 0 var(--sp-1000);
    place-items: center;
    align-items: center;
  }

  .grid-container > *:first-child {
    grid-column: 2;
    grid-row: 2;
    place-items: center;
  }

  .grid-container > *:last-child {
    grid-column: 3;
    grid-row: 2;
    place-content: center;
    margin: 0 auto;
  }

  .main-text {
    text-align: start;
  }
}
