.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding: 2rem 2rem 0px 2rem;
}

.underline-indicators {
  display: none;
}

.mobile-nav-button {
  background-color: hsl(var(--clr-white) / 0);
  backdrop-filter: blur(1rem);
  border: none;
  z-index: 11;
  cursor: pointer;
}

.mobile-nav-button img {
  height: 2rem;
}

.nav-links {
  background-color: hsl(var(--clr-white) / 0.01);
  backdrop-filter: blur(1rem);
  display: flex;
  padding: 8rem 3rem;
}

.nav-links a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.nav-links a {
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

/* Mobile */
@media (min-width: 23rem) {
  .nav-links {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0px;
    z-index: 10;
    right: -100%;

    background-color: hsl(var(--clr-white) / 0.01);
    backdrop-filter: blur(1rem);

    padding: 8rem 3rem;
    width: 20rem;
    height: 100vh;

    transition: right 0.3s ease-in-out;
  }

  .nav-links.open {
    right: 0px;
  }
}

/* Tablet Screen */
@media (min-width: 48rem) {
  .line-decoration {
    display: none;
  }

  /* .mobile-navigation {
    display: none;
  } */

  .nav-links {
    --underline-gap: 1.5rem;

    position: static;
    top: auto;
    right: auto;
    z-index: 10;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 var(--sp-800);
    margin: 0;
    backdrop-filter: blur(1rem);
    gap: var(--sp-600);
  }

  .logo {
    padding-left: var(--sp-500);
    padding-right: var(--sp-500);
  }

  .mobile-nav-button {
    display: none;
  }
}

/* Desktop Screen */
@media (min-width: 90rem) {
  .navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .logo {
    padding-left: var(--sp-800);
  }

  .line-decoration {
    width: 80vw;
    height: 1px;
    background-color: hsl(var(--clr-white) / 0.25);
    position: absolute;
    right: 10rem;
  }

  .mobile-navigation {
    display: none;
  }

  .nav-links {
    --underline-gap: 1.5rem;
    display: flex;
    flex-direction: row;
    padding: 0 var(--sp-800);
    margin: 0;
    gap: var(--sp-600);
  }

  .nav-links a {
    text-decoration: none;
  }

  .nav-links li a {
    display: inline-block;
    position: relative;
    padding: 0.5rem 0.95rem;
  }

  .mobile-nav-button {
    display: none;
  }
}
